edit-button{
    cursor: pointer;
    color: black;
  }
  td.details-control {
      position: relative;
      cursor: pointer;
  }
  td.details-control-symbol::before{
    position: relative;
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f067";
  }
  #newLeads th {
    text-align: center;
  }
  td {
    text-align: center;
  }
  tr.shown td.details-control {
    position: relative;
    cursor: pointer;
  }
  tr.shown td.details-control-symbol::before{
    position: center;
    color: red;
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f068"
  }
   
  div.slider {
      display: none;
  }
   
  table.dataTable tbody td.no-padding {
      padding: 0;
  }

  div.dataTables_wrapper{
    margin: 10px;
  }

div.dtsb-searchBuilder{
  position: relative;
  text-align: right;
}

.dtsb-titleRow{
  display: none;
}

.dataTables_info{
  display: none;
}


.dtsp-name{
  color:black;
}

